@import '';

/* _content/RadzenComponents/Component1.razor.rz.scp.css */
.my-component[b-mh9jm7vzk1] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
